/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Pru33qjShpZSmG3z6VYwnYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/Ks_cVxiCiwUWVsFWFA3Bjn-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/oOeFwZNlrTefzLYmlVV1UIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/97uahxiqZRoncBaCEI3aW4X0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOJBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
  background: none;
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
}

h2, h3, h4, h5 {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

p, dl {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

body #container {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #fafafa !important;
  border: none;
}

/* Header */
body #container h1 {
  font-size: 16px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: 250px auto;
  background-position: 16px bottom;
  background-image: url(https://franciscan.university/img/side-nav-logo.jpg);
  background-color: #fff;
  height: 111px;
  border-bottom: solid 3px #998643;
  margin-bottom: 50px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

body #container h1 a {
  float: none;
  text-indent: 0;
  background: none;
  box-sizing: border-box;
  font-size: 16px;
  text-decoration: none;
  color: #21412a;
  padding: 8px;
  margin: 0;
  height: 33px;
  background-color: transparent;
  width: 100%;
  font-family: 'crimsonRoman',"Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
  letter-spacing: 1px;
  text-transform: uppercase;

}

/* Welcome/Sign Out */
#container #minorNav {
  float: right;
  margin-top: -154px;
  margin-right: 16px;
  color: #21412a;
}

#container #minorNav li {
  border-right: 1px solid #21412a;
}

#container #minorNav li.last a {
  color: #21412a;
  text-decoration: none;
}

/* Header Nav Links */
#container #mainNav {
  background-color: transparent;
  color: #fff;
  margin-top: -82px;
  float: right;
}

#container #mainNav li a {
  font-size: 16px;
  color: #21412a;
  display: inline;
  padding: 12px 8px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#container #mainNav li:last-of-type a {
  margin-right: 16px;
}

#container #mainNav li a:hover, #bProfile #container #mainNav li.tProfile a, #bApplication #container #mainNav li.tApplication a, #bPersonalInfo  #container #mainNav li.tApplication a, #bEducation #container #mainNav li.tApplication a, #bEssays #container #mainNav li.tApplication a, #bRecommendations #container #mainNav li.tApplication a, #bTestScores #container #mainNav li.tApplication a, #bExCurrActivities #container #mainNav li.tApplication a, #bFamilyRelationships #container #mainNav li.tApplication a, #bEvents #container #mainNav li.tEvents a  {
  background-color: rgba(0, 0, 0, 0.37);
  color: #fff;
}

/* Form Card */

body #contentWrapper {
  padding: 0;
  border: none;
  box-shadow: none;
}

body #container #mainContent {
  padding: 24px;
  border: none;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  float: none;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

@media screen and (max-width: 600px) {
  body #container #mainContent {
    width: 90%;
  }
}

dd input[type="text"], dd input[type="textarea"] {
  width: 100%;
}

dd.required input[type="text"], dd.required input[type="textarea"] {
  width: calc(100% - 8px);
}

input[type="submit"], a.actions.create {
  border-radius: 2px;
  background-color: #ffc658;
  box-shadow: none;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  color: #fff;
  margin-top: 16px;
  transition: .2s ease-out;
  cursor: pointer;
  letter-spacing: .5px;
  text-transform: uppercase;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  outline-color: initial;
  outline-style: initial;
  outline-width: 0px;
}

input[type="submit"]:hover, a.actions.create:hover, input[type="submit"]:focus, a.actions.create:focus  {
  padding: 8px 16px;
  font-size: 16px;
  background-color: rgba(255, 198, 88, 0.85);
  color: #fff;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}

a.actions.create {
  margin-top: 0px;
  margin-bottom: 8px;
}

form dl dt {
  position: relative;
  margin-top: 34px;
}

form dl dd {
  margin-bottom: 24px;
}

form label {
  font-weight: 300;
  line-height: 1.5;
}

form input[type=text]+label,  {
  color: #9e9e9e;
  position: absolute;
  top: 0.8rem;
  left: 0;
  font-size: 1rem;
  cursor: text;
  transition: .2s ease-out;
  font-size: .8rem;
  -webkit-transform: translateY(-140%);
  transform: translateY(-140%);
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 20px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 0.3s;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ffc658;
  box-shadow: 0 1px 0 0 #ffc658;
}

form dl dd.required {
  border-left: 4px solid #8e9fbc;
  padding-left: 4px;
  position: relative;
  left: -7px;
}

select {
  width: 100%;
  -webkit-appearance: none;
  background: none;
  border: none;
  border-bottom: 1px solid #d3d6d9;
  color: #585e69;
  font-weight: 300;
  position: relative;
  z-index: 2;
  border-radius: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  outline-color: initial;
  outline-style: initial;
  outline-width: 0px;
  line-height: 1.4;
  padding: 0 0 10px;
}

.field_select::before {
  content: "▼";
  color: initial;
  position: relative;
  right: 0px;
  top: 12px;
  bottom: 0;
  height: 10px;
  margin: auto 0;
  font-size: 10px;
  line-height: 10px;
  float: right;
}

.ui-datepicker {
  width:250px;
  height: 287px !important;
  border: none;
  border-radius: 2px;
  display: none;
  transition: all 0.15s ease-out;
  box-shadow: 0 12px 36px 16px rgba(0,0,0,0.24);
  padding: 0;
  z-index: 3 !important;
}

.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0;
  border-radius: 2px;
  border: none;
  height: 68px;
  background: none;
  background-color: #21412a;
  color: #fff;
  font-size: 18px;
}

.ui-datepicker-prev::before {
  content: "<";
  color: #fff;
  display: block;
  margin: 0 auto;
  width: 16px;
}

.ui-datepicker-next::before {
  content: ">";
  color: #fff;
  display: block;
  margin: 0 auto;
  width: 16px;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  display: none;
}

.ui-datepicker-prev.ui-state-hover, .ui-datepicker-next.ui-state-hover {
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  top: 0;
  right: 2px;
  box-sizing:border-box;
  height: 75px;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  height: 75px;
  padding-top: 25px;
  box-sizing: border-box;
  top: 0;
  cursor: pointer;
}

.ui-datepicker-title span:last-of-type {
  display: block;
  margin: 0 auto;
  width: 52px;
}

.ui-state-default, .ui-widget-content .ui-state-default {
  border: none;
  background: none;
}

.ui-datepicker table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 .4em;
  background-color: #fff;
}

.ui-datepicker td span, .ui-datepicker td a {
  padding: 1em;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus {
  border: none;
  background: none;
  color: #fff;
  background-color: #21412a;
  outline: none;
  transition: all 0.15s ease-out;
}

form .reqFieldExplanation {
  color: #8e9fbc;
  font-size: 13px;
  border-left: 4px solid #8e9fbc;
  padding-left: 4px;
}

/* Sidebar */
#side_bar {
  float: none;
  width: 100%;
  max-width: 600px;
  padding: 24px;
  border: none;
  background: #fff;
  margin: 24px auto;
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

@media screen and (max-width: 600px) {
  #side_bar {
    width: 90%;
  }
}

#side_bar h3 {
  text-align: left;
}

#side_bar h3 span {
  line-height: 30px;
}

#side_bar h3 span a {
  color: #ffc658;
  text-decoration: none;
  text-transform: uppercase;
}

#side_bar hr {
  display: none;
}

#side_bar h4 {
  margin-bottom: 8px;
  margin-top: 8px;
}

#side_bar table.home_nav {
  margin: 0;
}

#side_bar table a {
  color: #ffc658;
  text-decoration: none;
  font-size: 16px;
}

/*  Mobile Styles  */
@media screen and (max-width: 720px) {
  body #container h1 {
    background-size: 180px auto;
    height: 101px;
  }

  body #container h1 a {
    font-size: 12px;
    padding: 11px 8px;
  }

  #container #minorNav {
    margin-top: -143px;
  }

  #container #mainNav {
    margin-top: -81px;
  }

  #container #mainNav li a {
    padding: 12px 8px;
    display: inline;
  }
}

/*  Mobile Styles  */
@media screen and (max-width: 500px) {
  body #container h1 {
    background-size: 180px auto;
    height: 101px;
  }

  body #container h1 a {
    font-size: 12px;
    padding: 11px 8px;
  }

  #container #minorNav {
    margin-top: -143px;
  }

  #container #mainNav {
    margin-top: -81px;
  }

  #container #mainNav li a {
    padding: 12px 8px;
    display: inline;
  }
}
