body {
  background: none;
  background-color: #fafafa;
}

body #container {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #fafafa !important;
  border: none;
}

/* Header */
body #container h1 {
  font-size: 16px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: 250px auto;
  background-position: 16px bottom;
  background-image: url(https://franciscan.university/img/logoTxt.png);
  background-color: #21412a;
  height: 134px;
  border-bottom: solid 3px #998643;
  margin-bottom: 50px;
}

body #container h1 a {
  float: none;
  text-indent: 0;
  background: none;
  box-sizing: border-box;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  padding: 8px;
  margin: 0;
  height: 33px;
  background-color: rgba(0, 0, 0, 0.37);
  width: 100%;
  font-family: 'crimsonRoman',"Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
  letter-spacing: 1px;
  text-transform: uppercase;

}

/* Welcome/Sign Out */
#container #minorNav {
  float: right;
  margin-top: -173px;
  margin-right: 16px;
  color: #fff;
}

#container #minorNav li {
  border-right: 1px solid #fff;
}

#container #minorNav li.last a {
  color: #fff;
  text-decoration: none;
}

/* Header Nav Links */
#container #mainNav {
  background-color: #21412a;
  color: #fff;
  margin-top: -93px;
  float: right;
}

#container #mainNav li a:hover, #bProfile #container #mainNav li.tProfile a, #bApplication #container #mainNav li.tApplication a, #bPersonalInfo  #container #mainNav li.tApplication a, #bEducation #container #mainNav li.tApplication a, #bEssays #container #mainNav li.tApplication a, #bRecommendations #container #mainNav li.tApplication a, #bTestScores #container #mainNav li.tApplication a, #bExCurrActivities #container #mainNav li.tApplication a, #bFamilyRelationships #container #mainNav li.tApplication a, #bEvents #container #mainNav li.tEvents a  {
  background-color: rgba(0, 0, 0, 0.37);
  color: #fff;
}

/* Form Card */

body #contentWrapper {
  padding: 0;
  border: none;
  box-shadow: none;
}

body #container #mainContent {
  padding: 24px;
  border: none;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  float: none;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

@media screen and (max-width: 600px) {
  body #container #mainContent {
    width: 90%;
  }
}

dd input {
  width: 100%;
}

dd.required input {
  width: calc(100% - 8px);
}

input[type="submit"] {
  border-radius: 2px;
  background-color: #ffc658;
  box-shadow: none;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  color: #fff;
  margin-top: 16px;
  transition: .2s ease-out;
  cursor: pointer;
  letter-spacing: .5px;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

input[type="submit"]:hover {
  background-color: rgba(255, 198, 88, 0.85);
  color: #fff;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}

/* Sidebar */
#side_bar {
  float: none;
  width: 100%;
  max-width: 600px;
  padding: 24px;
  border: none;
  background: #fff;
  margin: 24px auto;
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

@media screen and (max-width: 600px) {
  #side_bar {
    width: 90%;
  }
}

#side_bar h3 {
  text-align: left;
}

#side_bar hr {
  display: none;
}

#side_bar h4 {
  margin-bottom: 8px;
  margin-top: 8px;
}

#side_bar table.home_nav {
  margin: 0;
}

#side_bar table a {
  color: #ffc658;
  text-decoration: none;
}
