/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Pru33qjShpZSmG3z6VYwnYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/Ks_cVxiCiwUWVsFWFA3Bjn-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/oOeFwZNlrTefzLYmlVV1UIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/97uahxiqZRoncBaCEI3aW4X0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOJBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
  background: none !important;
  background-color: #fafafa !important;
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
}

nav {
  background-color: #fff;
  height: 77px;
  margin-bottom: 6px;
  border-bottom: 3px solid #998643;
 }

 nav .brand-logo img {
   height: 68px;
   margin-top: 5px;
 }


h1 {
  color: rgba(0, 0, 0, 0.87) !important;
  font-weight: 300;
  margin-top: 16px !important;
  max-width: 70%;
  margin: 0 auto;
}

.statusBar {
  display: none;
}

.centerPane {
  margin: 0 auto;
  padding-top: 16px;
  width: 100% !important;
}

form {
  padding: 24px 10%;
  border: none;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  max-width: 70%;
  float: none;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

@media screen and (max-width: 860px) {
  h1 {
    width: 100%;
    max-width: 600px;
  }

  form {
    padding: 24px;
    width: 100%;
    max-width: 600px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    width: 90%;
  }

  form {
    width: 90%;
  }
}

/* Datepicker */
.ui-datepicker {
  width:259px;
  height: 287px !important;
  border: none;
  border-radius: 2px;
  display: none;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  box-shadow: 0 12px 36px 16px rgba(0,0,0,0.24);
  padding: 0;
  z-index: 3 !important;
}

.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0;
  border: none;
  border-radius: 2px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 68px;
  background: none;
  background-color: #21412a;
  color: #fff;
  font-size: 18px;
}

.ui-datepicker-prev::before {
  content: "<";
  color: #fff;
  display: block;
  margin: 0 auto;
  width: 16px;
}

.ui-datepicker-next::before {
  content: ">";
  color: #fff;
  display: block;
  margin: 0 auto;
  width: 16px;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  display: none !important;
}

.ui-datepicker-prev.ui-state-hover, .ui-datepicker-next.ui-state-hover {
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  top: 0;
  right: 2px;
  box-sizing:border-box;
  height: 75px;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  height: 75px;
  padding-top: 25px;
  box-sizing: border-box;
  top: 0;
  cursor: pointer;
  background: none !important;
}

.ui-datepicker-title span:last-of-type {
  display: block;
  margin: 0 auto;
  width: 52px;
}

.ui-state-default, .ui-widget-content .ui-state-default {
  border: none;
  background: none;
  color: rgba(0, 0, 0, 0.65);
}

.ui-datepicker table {
  width: 100%;
  font-size: 10.7px;
  border-collapse: collapse;
  margin: 0 0 .4em;
  background-color: #fff;
}

.ui-datepicker td span, .ui-datepicker td a {
  padding: 1em;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus {
  border: none;
  background: none;
  color: #fff;
  background-color: #21412a;
  outline: none;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

/* Results page */
.event-results form:first-of-type {
  padding: 24px 2%;
}

.event-results form:nth-of-type(2) {
  display: none;
}

body .cartstatus2, body .cartstatus {
  position: inherit;
  float: none;
  color: rgba(0,0,0,0.87)
}

body .cartstatus2 a, body .cartstatus a {
  float: left;
}

@media screen and (max-width: 860px) {
  h1 {
    width: 100%;
    max-width: 600px;
  }

  form {
    padding: 24px;
    width: 100%;
    max-width: 600px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    width: 90%;
  }

  form {
    width: 90%;
  }
}

  /* Event Results Table*/

  body th.resultsHeader:nth-of-type{
    font-size: 16px;
  }

  th.resultsHeader:nth-of-type(3), .costCol {
    display: none;
  }

  body .eventTitle {
    color: rgba(0,0,0,0.87) !important;
    margin-left: 0;
    text-align: center;
  }

  body .dateCol, body .eventTitle {
    font-size: 16px !important;
    font-weight: 400;
  }

  .dateCol, .ticketCol, .eventCol, .costCol {
     border-bottom: none;
     border-left: none;
  }



/* Buttons */
body a.btnAct {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  line-height: 30px;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  width: auto;
  font-weight: 400;
  background-color: hsla(40, 100%, 56%, 1);
  box-shadow: none;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  color: #fff !important;
  margin-top: 16px;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: pointer;
  letter-spacing: .5px;
  text-transform: uppercase;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  outline-color: initial;
  outline-style: initial;
  outline-width: 0px;
  -webkit-appearance: none;
}

body a.btnAct:hover {
  padding: 8px 16px;
  border: none;
  font-size: 16px;
  background-color: rgba(255, 198, 88, 0.85);
  color: #fff !important;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}


/* Form iFrames */
iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  min-height: 100vh;
}

.wForm .oneField input {
  background: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-image: initial;
  border-bottom: 1px solid rgb(158, 158, 158);
}
