/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Pru33qjShpZSmG3z6VYwnYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/Ks_cVxiCiwUWVsFWFA3Bjn-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/oOeFwZNlrTefzLYmlVV1UIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/97uahxiqZRoncBaCEI3aW4X0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOJBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
  background: none !important;
  background-color: #fafafa !important;
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
}

nav {
  background-color: #fff;
  height: 77px;
  margin-bottom: 6px;
  border-bottom: 3px solid #998643;
 }

 nav .brand-logo img {
   height: 68px;
   margin-top: 5px;
 }

 .wFormContainer {
   font-family: 'Roboto', sans-serif !important;
   max-width: none !important;
   width: 100% !important;
 }

div div.wForm {
  max-width: 70%;
  margin: 0 auto;
  padding: 0;
}

.wFormContainer {
  border: none;
}

.wFormContainer > div.errorMessage {
  display: none;
}

 .wFormContainer .wFormTitle {
  border: none;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300 !important;
}



div .wForm form {
  background-color: #fff;
  padding: 24px 10%;
  border: none;
  box-sizing: border-box;
  margin: 0 auto !important;
  width: 100%;
  float: none;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

@media screen and (max-width: 860px) {
  div div.wForm {
    max-width: 100%;
  }

div .wForm  form {
    padding: 24px;
    width: 100%;
    max-width: 600px;
  }
}

@media screen and (max-width: 600px) {
  div div.wForm {
    max-width: 100%;
  }

div .wForm  form {
    width: 90%;
  }
}

div .wForm .inline div.oneField {
  width: 100%;
}

div .wForm .inputWrapper {
  width: 100%;
}

.wForm .inputWrapper>div:first-of-type {
  width: 100%;
}

div .wForm .oneField input {
  background: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-image: initial;
  border-bottom: 1px solid rgba(0, 0, 0, 0.54);
  border-bottom-color: rgba(0, 0, 0, 0.54);
  border-radius: 0px;
  width: 100%;
}

/* Hide Character Counter */
.lengthIndicator {
  display: none !important;
}

fieldset legend u {
  text-decoration: none;
}

fieldset legend u b {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}

div form label {
  color: rgba(0, 0, 0, 0.54);
  max-width: 100%;
  min-width: 100% !important;
  font-size: 14px;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ffc658;
  box-shadow: 0 1px 0 0 #ffc658;
}

[type="checkbox"]:checked+label:before {
  border-right: 2px solid #ffc658;
  border-bottom: 2px solid #ffc658;
}

div .wForm textarea {
  background: none;
  border: none;
  width: 100% !important;
  height: 3rem !important;
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.54);
  border-radius: 0;
  font-size: 1rem;
  margin: 0 0 20px 0;
  padding: .8rem 0 1.6rem 0;
}

div .wForm select {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.87);
  font-weight: 300;
  position: relative;
  z-index: 2;
  border-radius: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  outline-color: initial;
  outline-style: initial;
  outline-width: 0px;
  line-height: 1.4;
  font-size: 16px;
  color: rgba(0,0,0,0.87);
  font-size: 16px;
  display: inline-block;
}

.field_select::before {
  content: "\25bc";
  color: initial;
  position: relative;
  right: 2px;
  top: 29px;
  bottom: 0;
  height: 10px;
  margin: auto 0;
  font-size: 10px;
  line-height: 10px;
  float: right;
}

div .wForm select[multiple] {
  height: inherit;
}

.multiple-select::before {
  content: none;
}


[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
  background-color: hsla(40, 100%, 56%, 1);
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
  border: 2px solid hsla(40, 100%, 56%, 1);
}


body div .wForm input[type="submit"] {
  background: none;
  border-radius: 2px;
  background-color: hsla(40, 100%, 56%, 1);
  box-shadow: none;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  color: #fff !important;
  margin-top: 16px;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: pointer;
  letter-spacing: .5px;
  text-transform: uppercase;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  outline-color: initial;
  outline-style: initial;
  outline-width: 0px;
  -webkit-appearance: none;
}

body div .wForm input[type="submit"]:hover, body div .wForm input[type="submit"]:focus  {
  background: none;
  padding: 8px 16px;
  font-size: 16px;
  background-color: rgba(255, 198, 88, 0.9);
  color: #fff !important;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}
